.container {
  padding: 0 0rem;
  min-width: 340px;
}

.main {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: #fdf5f3;
}
